# Virtual environments
venv/
venv_linux/
**/venv/
**/venv_linux/

# Dependencies
node_modules/
.next/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# System files
.DS_Store